/* 
CoCreate Navbar: Show/Hide Nav on Scroll 
*/
.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  height:50px;
  background: rgba(245, 245, 245, 0.92);
  z-index: 3;
  will-change: transform;
  transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.hide-nav {
  transform: translateY(-120% )!important;
  -webkit-transform: translateY(-120%) !important;
}
.nav .logo {
  float: left;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  font-weight: 500;
  color: black;
}
.nav .logo:after {
  content: '';
  display: table;
  clear: both;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/*.nav ul li {*/
/*  margin-left: 0;*/
/*}*/
@media (min-width: 768px) {
  .nav-toggle {
    /*display: none;*/
  }
}
/* CoCreate Navbar End */
