/* CoCreate Sidenav */
.cocreate-sidenav {
	position: fixed;
	height: 100%;
	background-color: #283747;
	color: white;
	display:block;
  z-index: 999;
  overflow:y: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  left: 0px;
  top:0px;
  /*transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);*/
 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently not supported by any browser */
}
.resizeHandler {
	width: 10px;
	height: 100%;
	cursor: ew-resize;
	position:absolute;
	right: 0;
	bottom: 0;
}
.resizeHandler:hover {
   background-color:#000000;
	opacity: .3;

}
 .cocreate-sidenav.sidenav-right {
	right:0;
	left:auto;
}

.sidenav-right .resizeHandler {
	right: auto;
	left:0;
}

.cocreate-sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}