/* CoCreate Menu */
ul.cocreate-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width:100%;
  position:relative;
}
ul.cocreate-menu li {
  display: block;
  overflow: hidden;
  height:40px;
  border-top: 0px solid #ddd;
  line-height: 40px;
  color:inherit;
}
ul.cocreate-menu li:hover {
    background:#039be5;
    transition: border-radius .15s cubic-bezier(0.4,0.0,0.2,1);
}
ul.cocreate-menu li a {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  color: inherit;
  text-align: left;
}
ul.cocreate-menu li a i {
  display: inline-block;
  position: relative;
  width: 50px;
  white-space: nowrap;
  line-height: inherit;
  text-align: center;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
ul.cocreate-menu li span {
  display: inline-block;
}
ul.cocreate-menu li a span {
  display: inline-block;
}
ul.cocreate-menu li span.cocreate-badge {
    margin-left: 10px;
}

ul.cocreate-menu li .cocreate-badge {
    position: relative;
    margin-left: 10px;
    height:16px;
}
