/* CoCreate scroll */
.cocreate-scroll{
    overflow: auto!important;
    height:100%;
}

.cocreate-scroll::-webkit-scrollbar {
  width: 5px;
  height:5px;
}
.cocreate-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.00);
}

.cocreate-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.04);
}
.cocreate-scroll.scroll::-webkit-scrollbar-thumb {
  background:rgb(46, 134, 193);
}
