
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	background-image: url("https://cdn.cocreate.app/background.png");
	background-size: cover;
  background-repeat: no-repeat;
	/*height: 100%;*/
	margin:0px;
}


/*img { max-width: 100%; }*/

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.btns_top_right .btn-login{
	float:right;
	color:white;
	margin: 5px 15px 5px 15px;
	    z-index: 5;
    position: relative;
}
.main-container{
	height: 100%;
	display:flex; 
	width: 100%;
	flex-wrap:wrap;
	position:absolute;
}

.flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content:center;
  -webkit-align-items: flex-end; 
  align-items: flex-end;
  height:fit-content;

}
  
.vcenter { 
  -webkit-align-items: center; 
  align-items: center; 
}  
.hcenter { 
  justify-content:center;
}
.vflex-end { 
  -webkit-align-items: flex-end; 
  align-items: flex-end;
}
.hflex-end { 
  -webkit-align-items: flex-end; 
  align-items: flex-end;
}
.dialog-box{
	flex-grow: 1;
	min-width: 300px;
	width:55%;
	max-width: 600px;
	margin:10px;
	height:fit-content;
}
.form-box{
	flex-grow: 1;
	min-width: 320px;
	width: 35%;
	max-width:400px;
	margin:10px;
	height:fit-content;
}

.form-signin{
  flex-grow: 1;
	min-width: 290px;
	max-width: 400px;
	margin:15px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 0px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 25px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

form .form-bottom textarea {
	height: 100px;
}

form .form-bottom button.btn {
	min-width: 105px;
}

form .form-bottom .input-error {
	border-color: #19b9e7;
}
.progress{
	background:#fff;
}
.speech-bubble h1{
	color:#AA00FF !important;
}
.speech-bubble .description  {
	color:#21618C !important;
	font-size: 24px !important;
}

.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
	padding: 15px;
	/*padding-top: 15px;*/
	/*padding-right: 10px;*/
	/*padding-left: 10px;*/
}
.icon_ava{
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	margin-left: -23px;
	margin-top: -23px;
}

button {
  cursor: pointer;
  outline: none;
}
button.outline {
  position: relative;
  z-index: 3;
  background: transparent;
  color: #1172c4;
  font-size: 14px;
  border-color: #1172c4;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin-top:20px;
}
button.outline a {
  text-decoration: none;
}
button.outline:hover {
  color: white;
  background: #1172c4;
  border-color: white;
  transition: all 0.2s linear;
}
button.outline:active {
  border-radius: 22px;
}
button.white-blue {
  font-weight: 700;
  color: #1172c4;
  border-color: white;
  background: white;
}
button.white-blue:hover {
  color: white;
  background: #1172c4;
  border-color: white;
}
button.green-white {
  font-weight: 700;
  color: #7dc21e;
  border-color: #7dc21e;
  background: transparent;
}
button.green-white:hover {
  color: white;
  background: #7dc21e;
  border-color: #7dc21e;
}button.red-white {
  font-weight: 700;
  color: #dc3545;
  border-color: #dc3545;
  background: transparent;
}
button.red-white:hover {
  color: white;
  background: #dc3545;
  border-color: #dc3545;
}