*{padding:0px; margin:0px;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #505050;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  }
  
a {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  color: inherit;
}

.left-panel.active, .right-panel.active, .blocks.active, .components.active, .editor-panel.active {
    display: block
}

.uppy-Dashboard-inner {
    background-color: whitesmoke!important;
}

.uppy-DashboardTab-btn {
    justify-content: flex-start;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.selected {
    margin: 0;
    padding: 0;
    height: 25px;
    min-height: 25px;
}

.builder-tab-round[selected] {
    background: darkgrey;
}

li[selected-group="screen-size"][selected] {
    background: gainsboro;
}

.card:hover {
    background: rgba(0, 0, 0, 0.2);
}

[image-type*="image"] {
   display: block!important; 
}

[video-type*="video"] {
   display: block!important; 
}