    <link rel="stylesheet" href="https://cdn.cocreate.app/latest/CoCreate.min.css" type="text/css"/>
    <link rel="stylesheet" href="../demo/style.css" type="text/css" />
    <link rel="stylesheet" href="./file.css" type="text/css" />
    
            <div class="margin-left:10px sortable" template_id="{{data._id}}" fetch-collection="folders" filter-name="_id" filter-value="{{data._id}}" filter-operator="$eq" order-by="name" order-type="asc" fetch-count="6" render_id="folder">
                 <!--Folder Template -->
                <div class="template padding:5px" template_id="{{data._id}}" document_id="{{folder._id}}" render-key="folder" render-array="folder.data">
                    <span class=""><i class="fa fa-caret-down" toggle="fa-caret-right, fa-caret-down"></i></span>
                    <span class="margin-left:5px" collection="folders" document_id="{{folder._id}}" name="name">Folder name</span>
                    <div class="margin-left:10px" collection="component" document_id="" name="file-tree"></div>
                </div>
            </div>
            <div class="margin-left:10px sortable" template_id="file" fetch-collection="files" filter-name="folder_id" filter-value="folder_id" filter-operator="$eq" order-by="name" fetch-count="6">
                 <!--File Template -->
                <div class="template padding:5px" template_id="file">
                    <span class=""><i class="fab fa-html5"></i></span>
                    <span class="margin-left:5px" collection="files" document_id="{{data._id}}" name="name"></span>
                </div>
            </div>

    <script>
        var config = {
            apiKey: 'c2b08663-06e3-440c-ef6f-13978b42883a',
                        organization_Id: '5de0387b12e200ea63204d6c'
        }
    </script>
    
    <script defer src="https://cdn.cocreate.app/latest/CoCreate.min.js"></script>

