        <!-- Menu Icon Arrow Left Animations -->
        <a aria-label="mobile menu" class="menu_icon arrow-left active" data-toggle="active" data-toggle_sidenav="menuL">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <!-- Horizontal Scroll Nav/Tabs -->
        <ul class="direction:rtl display:inline-flex align-items:center overflow:auto font-size:20px list-style-type:none width:100% height:50px">

            <!-- Modal Controls -->
            <li class="margin-right:15px"><a class="btn-modal-close"><i class="fas fa-times"></i></a></li>
            <li class="margin-right:15px"><a class="btn-modal-maximize"><i data-transform_to="far fa-window-restore" class="far fa-window-maximize"></i></a></li>
            <li class="margin-right:15px"><a class="btn-modal-minimize"><i class="far fa-window-minimize"></i></a></li>

            <!-- fullscreen toogle and icon transform-->
            <li class="margin-right:15px"><a data-fullscreen><i data-transform_to="fas fa-compress" class="fas fa-expand"></i></a></li>

            <!-- Builder Controls -->
            <li class="margin-right:15px"><a id="redo-canvas" class=""><i class="fas fa-redo-alt"></i></a></li>
            <li class="margin-right:15px"><a id='undo-canvas' class=""><i class="fas fa-undo-alt"></i></a></li>
            
            
            <li class="margin-right:15px min-width:40px line-height:40px border-radius:50% text-align:center background:whitesmoke" data-selected="max-width:100%" data-selected_target=".canvas-container" data-selected_group="screen-size" selected>
                <a id="desktop-view" class=""><i class="fas fa-desktop"></i></a>
            </li>
            <li class="margin-right:15px min-width:40px line-height:40px border-radius:50% text-align:center background:whitesmoke" data-selected="max-width:768px" data-selected_target=".canvas-container" data-selected_group="screen-size">
                <a id="tablet-view" class=""><i class="fas fa-tablet-alt"></i></a>
            </li>
            <li class="margin-right:15px min-width:40px line-height:40px border-radius:50% text-align:center background:whitesmoke" data-selected="max-width:375px" data-selected_target=".canvas-container" data-selected_group="screen-size">
                <a id="mobile-view" class=""><i class="fas fa-mobile-alt"></i></a>
            </li>
            
            <!-- Render Code Editor -->
            <li class="margin-right:15px">
                <a target="modal" data-modal_header="false" data-pass_collection="files" data-pass_document_id="60c01ce2df12fd0d3939ac2b" data-pass_name="src" data-pass_to="render" data-modal_width="900px" data-modal_height="100%" data-modal_color="#229954" data-modal_header="false">
                    <i class="fa fa-code"></i>
                    <div data-pass-collection="apples" data-pass-document_id="60b420f5297df20010addc40" name='html' data-pass_to="code-editor"></div>
                </a>
            </li>
            <li class="margin-right:15px"><a id='element-borders' class=""><i class="far fa-square"></i></a></li>
            <li class="margin-right:15px padding-left:15px"><a id="clean-canvas"><i class="far fa-trash-alt"></i></a></li>
        </ul>

        <!-- Menu Icon Arrow Right Animations -->
        <a aria-label="mobile menu" class="menu_icon arrow-right active" data-toggle="active" data-toggle_sidenav="menuR">
            <span></span>
            <span></span>
            <span></span>
        </a>
