<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Textarea | CoCreate</title>
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.ico">
        <link rel="stylesheet" href="../index.css" collection="files" document_id="60972231624235187e4d6979" name="src" type="text/css" data-save="true" data-parse="true"/>

</head>

<body class="margin:15px">
    <textarea collection="files" document_id="60bea334b25613e8da1b4bdf" name='src' class="width:100% height:100vh clipboard"></textarea>
    <!--<p collection="files" document_id="60bea334b25613e8da1b4bdf" name='src' class="width:100% height:100vh"></textarea>-->
    
	<!--CoCreateJS-->
	<script src="../apikey.js"></script>
    <script src="https://cdn.cocreate.app/latest/CoCreate.min.js"></script>



</body>

</html>
