<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Uploader</title>
  </head>
  <body>
    
    <div class="uppy" data-collection="jean" id="drag-drop-area"></div>
   
    <script>
        var config = {
          apiKey: 'c2b08663-06e3-440c-ef6f-13978b42883a',
          organization_Id: '5de0387b12e200ea63204d6c',
           host: 'wss://ws.cocreate.app'
        }
    </script>

    <script src="https://server.cocreate.app/CoCreateJS/dist/CoCreate.js"></script>
  </body>
</html>
