body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #E3E6E5;
}

.post {
  cursor: pointer;
}

div.display:flex {
  -webkit-columns: 20em;
  columns: 20em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  padding: 1em;
}

div.display:flex .flex-grow {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

div.display:flex .flex-grow {
  margin: 1em 0;
}

div.display:flex .flex-grow:first-child {
  margin-top: 0;
}

.flex-grow .header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.flex-grow .header .user, .flex-grow .header .logo, .flex-grow .header .name, .flex-grow .header .time {
  padding: 0;
  margin: 0;
}
.flex-grow .header .user {
  align-items: left;
  display: flex;
}
.flex-grow .header .logo, .flex-grow .header .name {
  font-weight: 600;
  align-items: left;
}
.flex-grow .header .logo img, .flex-grow .header .name img {
  width: 2em;
  height: 2em;
  margin: 0 1em 0 0;
  padding: 0;
}
.flex-grow .header .name, .flex-grow .header .time {
  margin-top: .5em;
}
.flex-grow .header .time {
  align-items: right;
}
.flex-grow .image img {
  width: 100%;
}
.flex-grow .text {
  line-height: 150%;
  padding: 10px;
  display: flex;
  text-align: justify;
}
.flex-grow .footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.flex-grow .footer .interact {
  align-items: left;
}
.flex-grow .footer .interact .comments, .flex-grow .footer .interact .likes {
  float: left;
  padding-right: 10px;
}
.flex-grow .footer .source {
  font-size: 12px;
  align-items: right;
}
.flex-grow .logo, .flex-grow .name, .flex-grow .time, .flex-grow .text {
  font-size: 10px;
}
.flex-grow .logo a, .flex-grow .name a, .flex-grow .time a, .flex-grow .text a {
  font-size: 10px;
}
.flex-grow .comments a, .flex-grow .likes a {
  font-size: 12px;
}
.flex-grow .source a .svg-inline--fa {
  font-size: 16px;
}
.flex-grow .logo a, .flex-grow .name a, .flex-grow .time a, .flex-grow .text a, .flex-grow .comments a, .flex-grow .likes a, .flex-grow .source a {
  text-decoration: none;
  color: #444444;
  transition: ease all 0.3s;
}
.flex-grow .logo a:hover, .flex-grow .name a:hover, .flex-grow .time a:hover, .flex-grow .text a:hover, .flex-grow .comments a:hover, .flex-grow .likes a:hover, .flex-grow .source a:hover {
  color: #4E9A92;
  
}