.collapsed>.code-editor {
    height: 0px;
    overflow: hidden
}

.tab[selected] {
    background: whitesmoke;
}

.codemirror.active {
    height: 100%
}

textarea.active {
    display:block;
    height: 100vh;
    width: 100%;
    border:none;
    outline:none;
    padding:10px;
}

.CodeMirror {
    height: 90vh
}
