.blue {
	color: #0DA3E2;
}
button {
	background: #0DA3E2;
	border: 1px solid #0C8EC4;
	padding: 8px 20px;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	color: #FFF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin: 0 5px;
}
button:focus {
	outline: none;
}
button.icon {
	padding: 12px 20px 12px 45px;
}
button i {
	font-weight: 400 !important;
	margin-right: 5px;
}
button:hover {
	color: #0DA3E2;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%);
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,.3), inset 0 0 0 1px #d6d6d6, 0 2px 0 0 white;
	border: none;
}
.green {
	color: #22CC79;
}
.grey {
	color: #95989A;
}
.hide {
	display: none;
}
.Loader {
  height: 25px;
  width: 200px;
  position: relative;
}

.Loader .Bar {
  background: #0DA3E2;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 7px;
  border-radius: 2px 0 0 2px;
}
.Loader .Bar:nth-child(0) {
  left: -10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0s;
          animation: bottom-top 2s infinite ease-in-out 0s;
}

.Loader .Bar:nth-child(1) {
  left: 0px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.2s;
          animation: bottom-top 2s infinite ease-in-out 0.2s;
}

.Loader .Bar:nth-child(2) {
  left: 10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.4s;
          animation: bottom-top 2s infinite ease-in-out 0.4s;
}

.Loader .Bar:nth-child(3) {
  left: 20px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.6s;
          animation: bottom-top 2s infinite ease-in-out 0.6s;
}

.Loader .Bar:nth-child(4) {
  left: 30px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.8s;
          animation: bottom-top 2s infinite ease-in-out 0.8s;
}

.Loader .Bar:nth-child(5) {
  left: 40px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1s;
          animation: bottom-top 2s infinite ease-in-out 1s;
}

.Loader .Bar:nth-child(6) {
  left: 50px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1.2s;
          animation: bottom-top 2s infinite ease-in-out 1.2s;
}

@-webkit-keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.Loader-hold {
  height: 25px;
  width: 200px;
  position: relative;
}

.Loader-hold .Bar {
  background: #FFAF32;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 7px;
  border-radius: 2px 0 0 2px;
}
.Loader-hold .Bar.hold {
  background: #FFAF32;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 7px;
  border-radius: 2px 0 0 2px;
}

.Loader-hold .Bar:nth-child(0) {
  left: -10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0s;
          animation: bottom-top 2s infinite ease-in-out 0s;
}

.Loader-hold .Bar:nth-child(1) {
  left: 0px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.2s;
          animation: bottom-top 2s infinite ease-in-out 0.2s;
}

.Loader-hold .Bar:nth-child(2) {
  left: 10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.4s;
          animation: bottom-top 2s infinite ease-in-out 0.4s;
}

.Loader-hold .Bar:nth-child(3) {
  left: 20px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.6s;
          animation: bottom-top 2s infinite ease-in-out 0.6s;
}

.Loader-hold .Bar:nth-child(4) {
  left: 30px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.8s;
          animation: bottom-top 2s infinite ease-in-out 0.8s;
}

.Loader .Bar:nth-child(5) {
  left: 40px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1s;
          animation: bottom-top 2s infinite ease-in-out 1s;
}

.Loader-hold .Bar:nth-child(6) {
  left: 50px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1.2s;
          animation: bottom-top 2s infinite ease-in-out 1.2s;
}

@-webkit-keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
	.Loader-active {
  height: 25px;
  width: 200px;
  position: relative;
}

.Loader-active .Bar {
  background: #22CC79;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 7px;
  border-radius: 2px 0 0 2px;
}
.Loader-active .Bar.hold {
  background: #FFAF32;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 7px;
  border-radius: 2px 0 0 2px;
}

.Loader-active .Bar:nth-child(0) {
  left: -10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0s;
          animation: bottom-top 2s infinite ease-in-out 0s;
}

.Loader-active .Bar:nth-child(1) {
  left: 0px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.2s;
          animation: bottom-top 2s infinite ease-in-out 0.2s;
}

.Loader-active .Bar:nth-child(2) {
  left: 10px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.4s;
          animation: bottom-top 2s infinite ease-in-out 0.4s;
}

.Loader-active .Bar:nth-child(3) {
  left: 20px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.6s;
          animation: bottom-top 2s infinite ease-in-out 0.6s;
}

.Loader-active .Bar:nth-child(4) {
  left: 30px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 0.8s;
          animation: bottom-top 2s infinite ease-in-out 0.8s;
}

.Loader-active .Bar:nth-child(5) {
  left: 40px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1s;
          animation: bottom-top 2s infinite ease-in-out 1s;
}

.Loader-active .Bar:nth-child(6) {
  left: 50px;
  -webkit-animation: bottom-top 2s infinite ease-in-out 1.2s;
          animation: bottom-top 2s infinite ease-in-out 1.2s;
}

@-webkit-keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes bottom-top {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
.Calling {
  height: 15px;
  width: 200px;
  position: relative;
  clear: both;
  top: -5px;
}

.Calling .Circle {
  background: #0DA3E2;
  height: 0;
  position: absolute;
  bottom: 0;
  width: 10px;
  border-radius: 50%;
}

.Calling .Circle:nth-child(0) {
  left: -25px;
  -webkit-animation: run 2s infinite ease-in-out 0s;
          animation: run 2s infinite ease-in-out 0s;
}

.Calling .Circle:nth-child(1) {
  left: -5px;
  -webkit-animation: run 2s infinite ease-in-out 0.2s;
          animation: run 2s infinite ease-in-out 0.2s;
}

.Calling .Circle:nth-child(2) {
  left: 15px;
  -webkit-animation: run 2s infinite ease-in-out 0.4s;
          animation: run 2s infinite ease-in-out 0.4s;
}

.Calling .Circle:nth-child(3) {
  left: 35px;
  -webkit-animation: run 2s infinite ease-in-out 0.6s;
          animation: run 2s infinite ease-in-out 0.6s;
}

.Calling .Circle:nth-child(4) {
  left: 55px;
  -webkit-animation: run 2s infinite ease-in-out 0.8s;
          animation: run 2s infinite ease-in-out 0.8s;
}

.Calling .Circle:nth-child(5) {
  left: 75px;
  -webkit-animation: run 2s infinite ease-in-out 1s;
          animation: run 2s infinite ease-in-out 1s;
}

.Calling .Circle:nth-child(6) {
  left: 95px;
  -webkit-animation: run 2s infinite ease-in-out 1.2s;
          animation: run 2s infinite ease-in-out 1.2s;
}

@-webkit-keyframes run {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 10px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes run {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 10px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 25vmin;
  background-color: #1C77B2;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

.phone::before,
.phone::after {
  position: absolute;
}

.phone::before {
  top: 0;
  left: 0;

  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
          transform: translate3d(0, 0, 0) scale(0);
}

.phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.phone.is-animating {
  -webkit-animation: phone-outer 3000ms infinite;
          animation: phone-outer 3000ms infinite;
}

.phone.is-animating::before {
  -webkit-animation: phone-inner 3000ms infinite;
          animation: phone-inner 3000ms infinite;
}

.phone.is-animating::after {
  -webkit-animation: phone-icon 3000ms infinite;
          animation: phone-icon 3000ms infinite;
}

@-webkit-keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }
  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0.5em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.5em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
}

@keyframes phone-outer {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  33.3333% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5);
  }
  66.6666% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0.5em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.5em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
    -webkit-box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0em rgba(28, 119, 178, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(0.9);
            transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
            transform: translate3d(0, 0, 0) scale(0);
  }
}

@-webkit-keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}

@keyframes phone-icon {
  0% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
  2% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  4% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  6% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  8% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  12% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  14% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  16% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  18% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  22% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  24% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  26% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  28% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  32% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  34% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  36% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  38% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  42% {
    -webkit-transform: translate3d(0.01em, 0, 0);
            transform: translate3d(0.01em, 0, 0);
  }
  44% {
    -webkit-transform: translate3d(-0.01em, 0, 0);
            transform: translate3d(-0.01em, 0, 0);
  }
  46% {
    -webkit-transform: translate3d(0em, 0, 0);
            transform: translate3d(0em, 0, 0);
  }
}
	.caller-title {
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		color: #0ba3e1;
		
	}
	button.answer {
		color: #FFF;
		background: #22D67E;
		border-radius: 50%;
		border: none;
		font-size: 22px;
		height: 44px;
		width: 44px;
		padding: 0;
	}
	button.decline {
		color: #FFF;
		background: #FF3C3A;
		border-radius: 50%;
		border: none;
		font-size: 22px;
		height: 44px;
		width: 44px;
		padding: 0;
	}
	button.decline i.mdi-phone-hangup {
		margin-left: 5px;
	}
	button.hold, button.swap, button.voicemail {
		color: #95989A;
		background: #EEEEEE;
		border-radius: 50%;
		border: none;
		font-size: 22px;
		height: 44px;
		width: 44px;
		padding: 0;
	}
	button.hold i.mdi-pause {
		margin-right: 0;
	}
	button.hold-active {
		color: #FFF;
		background: #FFAF32;
		border-radius: 50%;
		border: none;
		font-size: 22px;
		height: 44px;
		width: 44px;
		padding: 0;
	}
	button.hold-active i.mdi-pause {
		margin-right: 0;
	}
	button.voicemail i.mdi-voicemail {
		margin-left: 5px;
	}
	button.swap i.mdi-swap-horizontal {
		margin-left: 5px;
	}
	.timer {
		
	}
	.timer.active {
		color: #22D67E;
	}
	.timer.hold {
		color: #FFAF32;
		
	}




/*
Dialpad
*/
.dig {
  font-size: 30px;
  float: left;
  background-color: #fff;
  color: #333; 
  text-align: center;
  width: 58px;
  height: 56px;
  border-radius: 100%;
  margin: 10px 0px;
  padding-top: 4px;
  font-weight: 700;
  cursor: pointer;
  border:1px black solid;
}
.dig.clicked {
  animation: pulse-gray linear 0.5s 1;
}
.dig:nth-child(3n-1) {
  margin: 10px calc(50% - 90px);
}
.dig.goBack.clicked {
  animation: pulse-red linear 0.5s 1;
}




@keyframes pulse-gray {
  0% {
    box-shadow: inset 0 0 0px 30px #2D2D2D, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #2D2D2D, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #2D2D2D, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse-blue {
  0% {
    box-shadow: inset 0 0 0px 30px #285EFA, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #285EFA, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #285EFA, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse-green {
  0% {
    box-shadow: inset 0 0 0px 30px #3DE066, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #3DE066, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #3DE066, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse-red {
  0% {
    box-shadow: inset 0 0 0px 30px #FA4A5D, inset 0 0 0px 30px white;
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  10% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  30% {
    box-shadow: inset 0 0 0px 10px #FA4A5D, inset 0 0 0px 30px white;
  }
  60% {
    box-shadow: inset 0 0 0px 0px #FA4A5D, inset 0 0 0px 0px white;
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulsator {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  40% {
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes showPad {
  0% {
    top: 50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
