<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://cdn.cocreate.app/favicon.ico" type="image/ico" sizes="16x16">
        <title>Blank View | CoCreate</title>
        <link rel="stylesheet" href="../index.css" data-collection="files" data-document_id="60972231624235187e4d6979" name="src" type="text/css" data-save="true" data-parse="true" />
    </head>

    <body>

		<!--CoCreateJS-->
		<script src="../apikey.js"></script>
        <script src="https://cdn.cocreate.app/latest/CoCreate.min.js"></script>

    </body>

</html>
