@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$accent: #44c4e7;
$sidebarColor: #34393d;
$hightlight: #fd9162;

* { box-sizing: border-box; }

body { font-family: 'Open Sans', sans-serif; }

.clr { clear: both; }
a {
  text-decoration: none; 
}

.btn {
  border-radius: 4px;
  padding: 6px 10px;
  text-align: center;
  text-shadow: none;
  color: #fff;
  background: #fff;
  &.btn-primary {
    background: $accent; 
  }
}

.container {
  display: flex; 
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 250px;
  background: $sidebarColor;
  order: 1;
  flex-flow: column;
  color: #fff;
  a {
    color: #fff;
  }
  h1 {
    font-weight: 400;
    background: darken($accent, 15%);
    line-height: 80px;
    margin: 0;
    padding: 0 30px;
  }
  
  .main-nav {
    margin: 30px 0;
    > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      > li {
        transition: background-color .3s ease;
        &.active, &:hover {
          background: lighten($sidebarColor,5%);
        }
        > a {
          padding: 20px 30px;
          display: block;
          color: #999;
          font-weight: 700;
          text-shadow: 1px 1px 2px rgba(0,0,0,.3);
        }
        > .btn {
          display: block;
          color: #fff;
          text-shadow: none;
          margin: 10px 30px;
          padding: 10px;
          font-weight: 400;
        }
        > ul {
          list-style: none;
          margin: 0;
          padding: 10px 0;
          &.labels {
            border-top: 1px solid #555;
            margin-top: 20px;
          }
          > li {
            transition: background-color .3s ease;
            padding: 10px 30px;
            &.active, &:hover {
              background: lighten($sidebarColor,10%);  
            }
            .btn {
              font-size: .875rem;
              padding: 5px;
              float: right;
              position: relative;
              top: -4px;
            }
            .label {
              width: 20px; height: 20px; display: inline-block; 
              top: 0;
            }
            a {
              color: #999; 
              
            }
          }
        }
      }
    }
  }
  
}
.main {
  -webkit-flex: 1;
  order: 2;
  background: #f5f5f5;
  .header {
    background: $accent; 
    min-height: 80px;
    form {
      padding: 20px;
      display: inline-block;
      input[type="search"]{
        background: darken($accent,15%);
        border:none;
        border-radius: 3px;
        line-height: 40px;
        width: 500px;
        padding: 0 10px;
        outline: none;
      }
      input[type="search"]::-webkit-input-placeholder { color: #fff; }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .nav-settings {
      float: right; 
      line-height: 80px;
      border-left: 1px solid darken($accent,10%);
      li {
        display: inline-block;
        &:hover {
          background: darken($accent,5%);    
        }
        a {
          padding: 0 20px;
          color: #fff; 
          display: inline-block;
        } 
      }
    }
  }
}

.messages {
  order: 1;
  width: 400px;
  background: #fff;
  border-right: 1px solid #DDD;
  h1 {
    margin: 0;
    padding: 20px;
    font-weight: 400;
    color: #777;
    border-bottom: 1px solid #DDD;
  }
  form {
    padding: 20px;
    background: #FCFCFC;
    input[type="search"] {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #ddd;
      padding: 10px;
      box-sizing: border-box;
        outline: none;
    }
  }
  .message-list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ddd; 
    li { 
      background: #F8F6F4;
      transition: background-color .3s ease;
      border-top: 1px solid rgba(0,0,0,0.1); 
      border-right: 3px solid darken($accent,10%);
      padding: 10px 20px;
      display: flex;
      cursor: pointer;
      input[type="checkbox"] {
        appearance: none;
        cursor: pointer;
        margin: 5px 10px 0 0;
        order: 1;
        width: 15px;
        height: 15px;
        background: #fff; 
        border: 1px solid #ddd;
        border-radius: 3px;
        &:checked {
         background: #EFEFEF;    
        }
      }
      .preview {
        flex: 1;
        order: 2;
        h3 {
          margin: 0; 
          font-weight: 400;
          color: #333;
          small {
            float: right;
            color: #AAA;
            font-size: .8125rem;
          }
        }
        p {
          color: #888;
          margin: 5px 0;
        }
      }
      &:hover {
        background: #fff;    
      }
      &.active {
        background: $hightlight;
        border-right: 3px solid rgba(0,0,0,0.1);
        .preview {
           h3, h3 small, p { color: #fff; }
        }
      }
      &.new {
        background: #fff;
        border-right: 3px solid $accent;    
      }
    }
  }
}

.message {
  -webkit-flex: 1;
  order: 2;
  background: #fff;
  h2 {
    margin: 0;
    padding: 20px 30px;
    font-weight: 400;
  }
  .meta-data {
    margin: 10px 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 50px;
    color: #888;
    .user {
       color: $hightlight;
    }
    img {
      display: inline;
      vertical-align: middle;
      margin-right: 20px;
      border-radius: 3px;
    }
    .date {
      float: right;
      color: #aaa;
    }
  }
  .body {
    padding: 20px 30px; 
  }
  .action {
    background: #fcfcfc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 30px;
    .options {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        &:first-child {
          border-right: 1px solid #ddd; 
          a {
             padding-left: 0; 
            }
        }
        a {
          color: #888;
          padding: 0 10px;
          &.active {
            color: #333; 
          }
        }
      }
    }
    .textarea {
      background: #fff;
      padding: 10px;
      border: 1px solid #ddd;
      position: relative;
      margin: 20px 0;
      &:before {
        content: '';
        display: block;
        border: 10px solid transparent;
        border-bottom: 10px solid #FFF;
        position: absolute;
        top: -19px;
        left: 25px;
        -webkit-filter: drop-shadow(0 -1px 0 #ddd);
      }
      textarea {
        width: 100%;
        min-height: 300px;
        appearance: none;
        border: none;
        resize: none;
        outline: none;
        margin-bottom: 50px;
      }
      .fileupload {
        background: #FCFCFC;
        border: 1px solid #ddd;
        padding: 10px;
        color: #888;
        justify-content: space-between;
          .fileinfo {
            flex: 1;  
          }
          .progress {
            width: 80%; 
            border: 1px solid #ddd;
            background: #fff;
            padding: 2px;
            .bar {
              background: $accent;
              width: 65%;
              text-align: right;
              color: #fff;
              padding: 3px;
              font-size: .75rem;
            }
          }
      }
    }
  }
}
