<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Builder Settings | CoCreate</title>
		<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon.ico">
		<link rel="stylesheet" href="./index.css" collection="files" document_id="610cb468c0e9580010e5ba50" name="src" type="text/css" />
		<link rel="manifest" href="/manifest.json" />
	</head>


	<body>
		<!-- Modal Viewport -->
		<div id="modal-viewport" hidden></div>

		<!-- Navbar -->
		<nav class="nav display:flex align-items:center background:whitesmoke" content_id="content" scroll="sticky-nav, hide-nav" scroll-up="5" scroll-down="5">

			<!-- Horizontal Scroll Nav/Tabs -->
			<ul class="display:inline-flex direction:rtl overflow:auto font-size:20px align-items:center list-style-type:none width:100% height:50px">

				<!-- Modal Controls -->
				<li class="margin-right:15px"><a actions="closeModal"><i class="height:18px fill:#505050" src="/assets/svg/times.svg"></i></a></li>
				<li class="margin-right:15px"><a actions="minMaxModal"><i toggle="fa-window-restore, fa-window-maximize" class="far fa-window-maximize"></i></a></li>
				<li class="margin-right:15px"><a actions="parkModal"><i class="height:18px fill:#505050" src="/assets/svg/window-minimize.svg"></i></a></li>

				<!-- fullscreen toogle and icon transform-->
				<li class="margin-right:15px"><a fullscreen></a></li>

				<!-- Render Module Form -->
				<li class="margin-right:15px">
					<a actions="pass, openModal" modal-src="./modules/form.html" modal-width="320px">
                        <i class="display:flex height:18px fill:#505050" src="/assets/svg/cog.svg"></i>
                        <div pass_id="module-form" pass-collection="modules" pass-document_id="" pass_to="form-fields"></div>
                        <div pass_id="module_id" pass-filter-value="" pass_to="module_id"></div>
                    </a>
				</li>

				<!-- Render Code Editor -->
				<li class="margin-right:15px">
					<a actions="pass, openModal" modal-src="./code-editor/index.html">
                        <i class="display:flex height:18px fill:#505050" src="/assets/svg/code.svg"></i>
                        <div pass_id="render" pass-collection="" pass-document_id="" pass-name="" pass_to="code-editor"></div>
                    </a>
				</li>

				<!-- Render Builder -->
				<li class="margin-right:15px">
					<a actions="pass, openModal" modal-src="./builder/index.html">
                        <i class="display:flex height:18px fill:#505050" src="/assets/svg/palette.svg"></i>
                        <div pass_id="render" pass-collection="" pass-document_id="" pass-name="" pass_to="builder"></div>
                    </a>
				</li>

				<!-- deleteDocument-->
				<li class="margin-right:15px">
					<a actions="deleteDocument, closeModal" collection="" document_id="" pass_id="form-fields">
                        <i class="height:18px fill:#505050" src="/assets/svg/trash-alt.svg"></i>
                    </a>
				</li>
			</ul>
		</nav>

		<main class="padding:10px" content_id="content">

			<form collection="modules" document_id="5f94ff945412e75f9b414a3e" autocomplete="off">

				<input type="hidden" name="module_id" pass_id="module_id">

				<input type="text" document_id="" name="name" class="floating-label" placeholder="Name" pass_id="form-fields" collection="module_activities">

				<cocreate-select sortable class="floating-label" name="units" collection="modules" document_id="5f94ff945412e75f9b414a3e" placeholder="" multiple="">

					<input placeholder="Search" search_id="search-units" search-selector=".option">

					<ul class="options overflow:auto" fetch-collection="modules" filter-value="5f94ff945412e75f9b414a3e" filter-name="_id" filter-operator="$eq" fetch-name="units" template_id="units" search_id="search-units">
						<li class="option" template="units" value="{{units.--}}">
							<h3 value="{{units.--}}">Unit Name</h3>
						</li>
					</ul>
				</cocreate-select>


				<button actions="save" class="position:absolute bottom:15px right:15px padding:15px background:dodgerblue color:#fff font-size:1.5rem grow-hover border-radius:50% border-width:0 box-shadow:0px_2px_10px_0px_rgba(0,_0,_0,_0.4)"><i class="height:20px fill:#505050" src="/assets/svg/save.svg"></i>
				</button>

			</form>
		</main>

		<script src="https://cdn.cocreate.app/1.51.0/CoCreate.min.js"></script>

	</body>

</html>
